body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#container {
    display: flex;
    flex-direction: column;
    padding-right: 550px;
    padding-left: 550px;
}
header {
    text-align: center;
}
h1 {
    font-size: 20px;
}
.login-with {
    display: flex;
    flex-direction: column;
    margin: 5px
}
.tw {
    border: 1px solid rgb(124, 202, 244);
    border-radius: 2px ;
    height: 100%;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
    background-color: rgb(124, 202, 244);
    color: white;
}
.fb {
    border: 1px solid rgb(78, 78, 255);
    border-radius: 2px;
    background-color: rgb(78, 78, 255);
    height: 100%;
    color: white;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
}
.or {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.login {
    display: flex;
    flex-direction: column;
    padding-left: 85px;
    padding-right: 85px;
}
.login div i {
    position: absolute;
    align-items: center;
    padding: 9px;
    margin-top: 10.5px;
    padding-left: 14px;
    border: 1px solid #ababab;
}
.login div input {
    outline: none;
    border: 1px solid #ababab;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 225px;
    margin-left: 40px;
    margin-top: 10px;
}
.form-control {
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
    padding-right: 273px;
    margin-left: 38px;
}
.phone {
    display: flex;
    flex-direction: column;
}
.login button {
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(65, 65, 254);
    color: white;
    border: 1px solid rgb(65, 65, 254);
    border-radius: 2px;
}
.end {
    text-align: center;
    margin-top: 10px;
}